<!DOCTYPE html>
<html>  
    <head>  
        <title>Postal Rate Calculator</title>
    </head>
    <body>  
        <h1>Postal Rate Calculator</h1>
        <form method='POST' action='/getrates'>  
            <label for="weigth">Weigth in Oz</label>
            <br>
            <input id="weight" name='weight' type=text min="0" placeholder='00.00' pattern='(\d+\.\d{1,2})' required >
            <br>
            <br>
            <label for="mailType">Mail Type</label>
            <br>
            <select  id="mailType" name="mailType" required>
                <option disabled selected value=''> -- Select mail type -- </option>
                <option value='stamped'> Letters (Stamped) </option>
                <option value='metered'> Letters (Metered) </option>
                <option value='flats'> Large Envelopes (Flats) </option>
                <option value='package'> First-Class Package Service—Retail</option>
            </select>
            <br>
            <br>
            <input type='submit' value='Calculate Rate'>
        </form>
    </body>
</html>