<!DOCTYPE html>
<html>
  <head>
    <title>Postal Rate Results</title>
  </head>
  <body>
    <h1>Postal Rate Calculator</h1>
        <p>Weight: <%= weight %></p>
        <p>Mail Type: <%= mailType %></h2> 
        <b><p>Your rate: <%= rate %></p> </b> 
  </body>

</html>